<header class="rex-blog-header" data-rex-shell="blog-header">
  <a class="rex-blog-header__brand" href="https://cli.rexai.top/blog/">
    <span class="rex-blog-header__mark"></span>
    <span>HARNESS CLI</span>
  </a>
  <nav class="rex-blog-header__nav" aria-label="Blog navigation">
    <a href="https://cli.rexai.top/">Docs</a>
    <a class="is-active" href="https://cli.rexai.top/blog/">Blog</a>
    <a href="https://cli.rexai.top/changelog/">Changelog</a>
  </nav>
  <div class="rex-blog-header__actions">
    <a href="{{ config.repo_url }}">GitHub</a>
    <a class="rex-blog-header__cta" href="https://cli.rexai.top/getting-started/">Get Started</a>
  </div>
</header>
