<header class="rex-topbar" data-rex-shell="topbar">
  <a class="rex-topbar__brand" href="{{ '/' | url }}" aria-label="Harness CLI home">
    <span class="rex-topbar__mark">R</span>
    <span class="rex-topbar__name">HARNESS CLI</span>
  </a>
  <nav class="rex-topbar__nav" aria-label="Primary navigation">
    <a href="{{ '/' | url }}">Home</a>
    <a href="{{ 'getting-started/' | url }}">Docs</a>
    <a href="https://cli.rexai.top/blog/">Blog</a>
    <a href="{{ 'changelog/' | url }}">Changelog</a>
  </nav>
  <div class="rex-topbar__actions">
    <a class="rex-topbar__link" href="{{ config.repo_url }}">GitHub</a>
    <a class="rex-topbar__cta" href="{{ 'getting-started/' | url }}">Get Started</a>
  </div>
</header>
